@mixin buttonStyleNone {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@mixin montserratBold {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

@mixin titleDefault {
  font-family: Montserrat, sans-serif;
  font-size: 1.5714rem;
  font-weight: 700;
  color: $tertiary-color;
  text-align: center;
}
