header.header
  .header__top
    p.header__login Log in
    +btn('signup', 'Sign up')
  .header__bottom
    p.header__logo Dreamshare
    h1.header__title Share Your Holiday Dream
    p.header__description And find the perfect partner to fullfill it
    +btn-a('#', 'Find your holiday partner')(class='header__btn')

