header.header
  .header__wrapper
    .header__top-wrapper
      .header__top
        p.header__login Log in
        +btn('signup', 'Sign up')
      p.header__logo Dreamshare
    .header__bottom
      h1.header__title Share Your Holiday Dream
      p.header__description And find the perfect partner to fullfill it
      +btn-a('#', 'Find your holiday partner')(class='header__btn')

