.steps {
  margin: 0 auto;
  max-width: 300px;
}

.steps__title {
  margin-bottom: 0.6818em;
  font-family: Montserrat, sans-serif;
  font-size: 1.5714rem;
  font-weight: 700;
  color: $tertiary-color;
  text-align: center;
}
