section.partners
  h2.partners__title Meet a partner for your best holiday
  .partners__wrapper
    +partner('img/partner-1.jpg', 'Partner 1', 'Bradley Hunter', 'Based in Chicago. I love playing tennis and loud music.', 'svg--music', 'music')
    +partner('img/partner-2.jpg', 'Partner 2', 'Diana Wells', 'Living in Athens, Greece. I love black and white classics, chillout music and green tea.', 'svg--photo', 'photo')
    +partner('img/partner-3.jpg', 'Partner 3', 'Marie Bennett', 'Currently living in Colorado. Lover of art, languages and travelling.', 'svg--brush', 'brush')
    +partner('img/partner-4.jpg', 'Partner 4', 'Christopher Pierce', 'Star Wars fanatic. I have a persistent enthusiasm to create new things.', 'svg--plane', 'plane')
  +btn-a('#', 'See other partners')(class='btn--other-partners partners__btn')
