include ../../blocks/components/btn/btn
include ../../blocks/components/step/step
include ../../blocks/components/partner/partner
include ../../blocks/components/icon/icon
include ../../blocks/components/idea/idea
