section.holiday
  h2.holiday__title Create your holiday activity
  p.holiday__text Hi! What are your holiday interests?
  .holiday__form-wrapper
    form.holiday__form(action='#')
      input.holiday__input(type='text' placeholder='Enter your insterests')
    +btn-a('#', 'Search partners')(class='holiday__btn')
