section.ideas
  h2.ideas__title Discover holiday activity ideas
  +idea('Sports and Activis', 'sports')
  +idea('Wellness and Health', 'health')
  +idea('Extreme Sports and Expeditions', 'expeditions')
  +idea('Games', 'games')
  +idea('Culture and Education', 'culture')
  +idea('Enjomet and Relaxation', 'relaxation')
  +idea('Trevelling', 'trevelling')
