extends layouts/default
block variables
  - var title = 'Dreamshare'

block content
  include ../blocks/modules/header/header
  .container
    include ../blocks/modules/main/main
  include ../blocks/modules/footer/footer
