.step {
  flex: 1 1 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 4px;

  @each $theme, $step in $steps {
    &--#{$theme} {
      background-image: linear-gradient(to bottom, rgba($black-color, 0.2), rgba($black-color, 0.2)), $step;
    }
  }

  @include respond ('medium') {
    &:not(:last-of-type) {
      margin-right: 1.4285em;
    }
  }
}

.step:not(:last-of-type) {
  margin-bottom: 0.7142em;

  @include respond ('medium') {
    margin-bottom: 0;
  }
}

.step__wrapper {
  margin: 0 auto;
  padding: 4.6428em 1.4285em 1.9285em;

  @include respond ('medium') {
    padding-top: 14.6428em;
    padding-bottom: 2.2857em;
  }

  @include respond ('large') {
    padding-top: 15.7142em;
  }
}

.step__number {
  padding: 0.5em;
  width: 7em;
  font-family: Montserrat, sans-serif;
  font-size: 0.7142rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: $btn-color;
  border-radius: 4em;
}

.step__title {
  margin-top: 0.625em;
  margin-bottom: 0.4166em;
  font-family: Montserrat, sans-serif;
  font-size: 1.7142rem;
  font-weight: 700;
}

.step__description {
  font-weight: 300;
}
