.footer {
  padding: 1.4285em;
  text-align: center;
  border-top: 2px solid $btn-color;

  @include respond('medium') {
    padding: 2.8571em 2.8571em 1.4285em;
  }
}

.footer__wrapper {
  @include respond('medium') {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
  }
}

.footer__logo {
  margin-bottom: 0.75em;
  font-family: Montserrat, sans-serif;
  font-size: 1.1428rem;
  color: $btn-color;
  text-transform: uppercase;

  @include respond('medium') {
    margin-bottom: 0;
  }
}

.footer__menu-name {
  display: block;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: $tertiary-color;
}

.footer__menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  &:not(:last-of-type) {
    margin-bottom: 1em;
  }

  @include respond('medium') {
    flex-direction: column;
    text-align: left;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.footer__item {
  margin-right: 0.7142em;
}

.footer__link {
  display: block;
  font-weight: 300;
  color: $dark-grey-color;
  text-decoration: none;
  line-height: 1.86;
}
